* {margin:0;padding:0;}
body {
    background-color: #f5f5f5!important;
}
.ivu-tabs-bar {
    background-color: #fff;
}
.ivu-tabs-nav-container {
    font-size: 18px!important;
    line-height: 2.5!important;
}